{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Medha Singh</title>
  <!-- Add your CSS link here -->
  <meta content="width=device-width, initial-scale=1" name="viewport" />

  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

  <!-- Rest of your head content -->
</head>
<body>
  <!-- Main container with two columns -->
  <div class="main-container">
    <!-- Left column with header, navbar, main content, and footer -->
    <div class="left-column">

      <!-- Header -->
      <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container">

            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav navbar-nav-centered">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}">home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'publications' %}">publications</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'editorial' %}">editorial</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'prose' %}">prose</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'interviews' %}">interviews and press</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact' %}">contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about' %}">about</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <!-- Center "Medha Singh" -->
        <div class="centered-text">
          Medha Singh
        </div>
      </header>

      <!-- Main content of each page -->
      <main>
        {% block content %}{% endblock %}
      </main>

      <!-- Footer -->
      <footer class="mt-5">
        <div class="container text-center">
          {% now "Y" as current_year %}
          {{ current_year }} @ Medha Singh
        </div>
      </footer>
    </div>

    <!-- Right column with green background -->
    <div class="right-column">

        <img src="{% static 'image/IMG-20230723-WA0001.jpg' %}" alt="Image description">

    </div>
  </div>

  <!-- Add your Bootstrap and JS scripts here -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
